/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #173B49;
}

header {
    background-color: #141616;
    color: white;
    padding: 10px 0;
}

.nav-container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

a:hover {
    color: #5BABB8;
}

.active {
    background-color: #5BABB8;
    border-radius: 5px;
    padding: 5px 10px;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
}

.social-link img {
    max-width: 24px;
    height: auto;
    margin-right: 10px; 
}

/* About Me Page */
#about-me {
    max-width: 80%; 
    margin: 20px auto;
    display: flex;
    align-items: center;
    background-color: #A9A9A9;
    padding: 20px;
    border-style: ridge;
    border-color: #173B49;
}

.profile {
    max-width: 50%; 
}

.profile img {
    max-width: 100%; 
    height: auto;
}

.details {
    flex-grow: 1;
    text-align: center; 
    padding-left: 20px;
}
.details ul{
    list-style-type: none;
}

/* Projects Page */
#projects {
    max-width: 80%; 
    margin: 20px auto;
    background-color: #A9A9A9;
    padding: 20px;
    border-style: ridge;
    border-color: #173B49;
}

#projects ul{
    padding-left: 20px;
    list-style-type: none;
}

.project {
    border: 2px inset #173B49;
    padding: 10px;
    margin: 10px 0;
}

.project h2 a {
    text-decoration: none;
    color: #2E88AE;
}

.project h2 a:hover {
    text-decoration: underline;
}

/* Project specific pages */
#project-details {
    max-width: 80%;
    margin: 20px auto;
    background-color: #A9A9A9;
    padding: 20px;
    border-style: ridge;
    border-color: #173B49;
}

#project-details a{
        text-decoration: none;
        color: #2E88AE;
}
#project-details a:hover{
    text-decoration: underline;
}

#project-details ul{
    padding-left:20px;
}

.project-header {
    text-align: left;
}

.project-header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project-header p {
    font-size: 16px;
    margin-bottom: 20px;
}

.project-content {
    text-align: left;
}

.project-content h2 {
    font-size: 20px;
    margin-top: 20px;
}

.project-content p {
    font-size: 16px;
    margin-bottom: 20px;
}

.project-content img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

.project-links h2 {
    font-size: 20px;
    margin-top: 20px;
}

.project-links ul {
    list-style: none;
    padding: 0;
}

.project-links li {
    font-size: 16px;
    margin-bottom: 10px;
}