/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #292b2c;
    color: white;
    padding: 10px 0;
}

.nav-container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

a:hover {
    color: #428bca;
}

.active {
    background-color: #428bca;
    border-radius: 5px;
    padding: 5px 10px;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
}

.social-link img {
    max-width: 24px;
    height: auto;
    margin-right: 10px; 
}

/* About Me Page */
#about-me {
    max-width: 80%; 
    margin: 20px auto;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
}

.profile {
    max-width: 50%; 
}

.profile img {
    max-width: 100%; 
    height: auto;
}

.details {
    flex-grow: 1;
    text-align: center; 
    padding-left: 20px;
}

/* Projects Page */
#projects {
    max-width: 80%; 
    margin: 20px auto;
    background-color: white;
    padding: 20px;
}

.project {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

.project h2 a {
    text-decoration: none;
    color: #428bca;
}

.project h2 a:hover {
    text-decoration: underline;
}
